<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    
    <title>Form Layout - Voler Admin Dashboard</title>
    
   
</head>
<body>
    
            
<div class="main-content container-fluid" layout:fragment="content">

	
	
        
        
        
        <section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title">MODIFIER L'ETAT</h4>
            </div>
            <div class="card-content">
            <div class="card-body">
                <form class="form form-horizontal" action="#" th:action="@{/listProj/etatProjet/update}" th:object="${ficheProjet}"
            method="post">
                <div class="form-body">
                    <div class="row">
                   
                    <div class="col-md-4">
                        <label>Etat du projet</label>
                    </div>
                    <div class="col-md-8 form-group">
                    	
                    	
                    	<select >
										    <option th:each="etatProjet : ${T(com.chiffrageTest.entities.EtatProjet).values()}" 
										        th:value="${etatProjet}" th:text="${etatProjet}"></option>
										</select>
					    
                        
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    <div class="col-12 d-flex justify-content-end">
                    <a th:href="@{/listProj}">
                    <button type="button">Cancel</button>
                	</a>
                    <button type="submit">Save</button>
                    
                    
                        <!-- <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                        <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Reset</button> -->
                    
                    </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        
    </div>
    </section>
	
	
   
   
</div>

           
</body>
</html>
